<p>Bonjour Mme/Mr {{firstName}} {{name}}, </p>
<br>
<p>Nous avons bien reçu votre message et nous vous remercions pour votre confiance.</p>
<p>Nous nous engageons à vous répondre dans un délai de 4 jours ouvrés.</p>
<p>Nous espérons que la réponse vous satisfera.</p>
<br>
<p>Bien cordialement,</p>
<br>
<p>Com25</p>
