{% extends 'base.html.twig' %}

{% block title %}Com25 - Page d'erreur - {% endblock %}

{% block body %}
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="textError text-center">
            <h1>Perdu !</h1>
            <h5>Ce n'est pas la bonne page</h5>
            <p>Cliquez ici pour retrouver votre chemin : <a href="{{path('app_home')}}">Le bon chemin est là !</a> </p>
        </div>
    </div>


{% endblock %}